:root {
	--primary: #554121;
	--secondary: #FEE58F;
	--white: #fff;
	--grey: #9b9b9b;
}

.Home
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.customInput {
	color: var(--white);
  position: relative;
	width: 400px;
	z-index: 2;
}

select {
  font-family: inherit;
  border: 0;
  border-bottom: 1px solid var(--grey);
  outline: 0;
  font-size: 1.3rem;
  color: var(--white);
  padding: 6px 0;
  background: transparent;
  transition: border-color 0.2s;
  text-align: center;
}
select option {
  background: transparent;
  color: var(--primary);
}

.inputField {
  font-family: inherit;
  width: 300px;
  border: 0;
  border-bottom: 1px solid var(--grey);
  outline: 0;
  font-size: 1.3rem;
  color: var(--white);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  text-align: center;
}
  
.inputField::placeholder {
	color: var(--grey);
}
  
.inputField:placeholder-shown,
.inputField .inputLabel
{
	color: var(--grey);
	font-size: 1.3rem;
	cursor: text;
	top: 20px;
}

.inputLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--grey);
}

.inputField:focus {
  padding-bottom: 7px;  
  border-width: 1px;
  border-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-image-slice: 1;
}

.inputField:focus .inputLabel {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: var(--primary);
	font-weight: 700;    
}

/* reset input */
.inputField:required,
.inputField:invalid
{
	box-shadow: none;
}